<div class="resume-container" [ngClass]="isDarkTheme ? 'resume-container-dark' : 'resume-container-light'">
  <div class="top-bar">
    <div class="window-dots">
      <span class="dot red"></span>
      <span class="dot yellow"></span>
      <span class="dot green"></span>
    </div>
    <p class="date">{{ currentDate | date:'fullDate' }}</p>
    <app-theme-toggle (themeChanged)="toggleTheme($event)"></app-theme-toggle>
  </div>
  <div class="main-info">
    <div class="text-info">
      <h2>{{ fullName | uppercase }}</h2>
      <p><strong>Phone:</strong> {{ phone }}</p>
      <p><strong>Email:</strong> {{ email | lowercase }}</p>
      <p><strong>City:</strong> {{ city }}</p>
      <p><strong>Experience:</strong> {{ experience }}</p>
      <p><strong>Skills:</strong> {{ skills }}</p>
    </div>
    <div class="photo-container">
      <img [src]="photo" alt="photo">
    </div>
  </div>
  <app-social-links></app-social-links>
</div>