.date {
  font-size: 14px;
  font-weight: 300;
  color: var(--social-link-color);
}

.main-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.text-info {
  flex: 1;
  padding: 10px;
  font-size: 18px;
}

.photo-container {
  flex-shrink: 0;
  width: 300px;
}

.photo-container img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
