<div class="resume-container">
  <div class="main-info">
    <div class="text-info">
      <h2>{{ fullName }}</h2>
      <p><strong>Phone:</strong> {{ phone }}</p>
      <p><strong>Email:</strong> {{ email }}</p>
      <p><strong>City:</strong> {{ city }}</p>
      <p><strong>Experience:</strong> {{ experience }}</p>
      <p><strong>Skills:</strong> {{ skills }}</p>
    </div>
    <div class="photo-container">
      <img [src]="photo" alt="photo">
    </div>
  </div>
  <app-social-links></app-social-links>
</div>
