<section class="welcome">
    <div class="content">
        <div class="text">
            <h1>Welcome<br>to the community<br>specialists!</h1>
            <div class="button-container">
                <button class="login-google">Login with Google</button>
                <button class="login-email">Login by Email Address</button>
            </div>
            <p class="disclaimer">By clicking "Continue" to join or sign in,<br>
                you agree to the terms of the LinkedIn User<br>
                Agreement, Privacy Policy, and Cookie Policy.<br>
            </p>
            <a href="#" class="join-link">Not on LinkedIn? Join</a>
        </div>
        <div class="image">
            <img src="/woman.png" alt="woman" />
        </div>
    </div>
</section>