<div class="vacancy">
    <div class="left-container">
        <div class="vacancy-div">
            <p class="vacancy-text">Find a suitable vacancy or internship</p>
        </div>
    </div>
    <div class="right-container">
        <div class="buttons-vacancy">
            <app-button-description [buttonText]="'Engineering'"></app-button-description>
            <app-button-description [buttonText]="'Business development'"></app-button-description>
            <app-button-description [buttonText]="'Finance'"></app-button-description>
            <app-button-description [buttonText]="'Administrative Assistant'"></app-button-description>
            <app-button-description [buttonText]="'Retail employee'"></app-button-description>
            <app-button-description [buttonText]="'Help Desk'"></app-button-description>
            <app-button-description [buttonText]="'Operations'"></app-button-description>
            <app-button-description [buttonText]="'Information Technology'"></app-button-description>
            <app-button-description [buttonText]="'Marketing'"></app-button-description>
            <app-button-description [buttonText]="'Personnel support'"></app-button-description>
            <app-button-description [buttonText]="'Education'"></app-button-description>
            <app-button-description [buttonText]="'Sales'"></app-button-description>
        </div>
    </div>
</div>