<div id="main">
    <div id="text-post">Post your vacancy so millions of people can see it</div>
    <div id="tag-fixed">Post a vacancy</div>
    <div id="info">
        <div id="text-container">
            <div id="text-discover">Discover the best software tools</div>
            <div id="text-discover2">Connect with buyers who have first-hand experience to find the best products for you.</div>
        </div>
        <div id="buttons-container">
            <app-button-description [buttonText]="'E-commerce platforms'"></app-button-description>
            <app-button-description [buttonText]="'Recruiting Software'"></app-button-description>
            <app-button-description [buttonText]="'Software for CRM systems'"></app-button-description>
            <app-button-description [buttonText]="'Social Networking Software'"></app-button-description>
            <app-button-description [buttonText]="'HR systems'"></app-button-description>
            <app-button-description [buttonText]="'Project Management Software'"></app-button-description>
        </div>
    </div>
    <div id="text-connect">Connect with your colleagues, classmates and friends on LinkedIn.</div>
    <button id="btn-login">Login</button>
</div>
